:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
  }

*{
    box-sizing: border-box;
 }

 body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
 }

   *:focus {
    outline: none;
  }
.page{
    display: flex;
    min-height: 100vh;
    background-color:white;
    margin: 0;
 
    
 }
 /* Start of style of sidebar */
.sidebar{
    padding: 5px; 
    position: relative; 
   background-color: #f8f8f9;
   min-width: 35%;
}
.info img{
    height: 66px;
    margin-top:130px;
    margin-right: auto;
    margin-left: 122px;
    border-radius: 10px;
    margin-bottom: 26px;

}

.info h4{
    color: black;
    flex-grow: 1;
    text-align: center;
    font-weight: bold;
    margin: 24px;
    font-size: 1.125rem;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}
.text{
    padding-top: 24px;
}
.text h5{
    color: black;
    font-family: Poppins,Roboto,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 16px;
    text-align: center;
}
.text h6{
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: 0.0075em;
    color: black;
    font-family:Poppins,Roboto,Helvetica,Arial,sans-serif ;
    text-align: center
}
/* end of sidebar */
/* start of content */
.content{
    background-color: white;
    padding: 10px;
    margin: 0;   
} 
/* student info */
.student-info{
    margin-left:  50px;
    box-sizing: border-box;
    flex-basis: 100%;
    max-width: 100%;
    flex-grow: 0;
    margin-top: 45px;
    
    }
    .number{
        border-radius: 50%;
        border: 1px solid blueviolet;
        color:white;
        background-color: blueviolet;
        padding: 2px;
        font-size: 15px;
    }
    .text{
        font-size: 15px;
        padding-left: 5px;
    
    }
    .input-field{
        margin-left: 75px;
        margin-top: 45px;
    }
    label{
        display: block;
        background-color:white;
        padding-left: 14px;
        color:var(--blue-alt-color);
        font-size: 10px;
        padding-left:2px ;
        margin-bottom: 18px;
        font-size: 11px;
    }
    .input{
        display: block;
        width:400px;
        height: 50px;
        box-sizing: border-box;
        box-shadow: inset;
        margin-top:-15px ;
        margin-bottom: 15px;
        transition: width 0.3s;
        border: 1px solid #ccc;
        border-radius: 10px;
    }
    .input::placeholder{
        opacity: 0.4;
        padding-left: 15px;
    }
    .input:focus{
        width: 500px;
        border: 1px solid var(--blue-alt-color) ;
    }
    .input:focus::placeholder{
        opacity: 0;
    }
    .btn{
        display: flex;
        margin: 2px;
        padding: 2px;
        margin-left: 90px;
        cursor:pointer; 
        margin-top: 30px;
      
    }
    .btn-1:focus{
        background-color: rgb(104, 103, 104);
        width: 100px;
    }
    .btn-1{
        border: 1px solid rgb(235, 234, 236);
        border-radius: 5px;
        color: rgb(19, 3, 3);
        width:90px ;
        height:50px ;
        transition: 0.3; 
        background-color: rgb(211, 205, 205);
        padding: 5px;
         margin-right: 15px;
         cursor: pointer;
    }
    .btn-1:hover{
        background-color: #888;
        width: 100px;
    }
    .btn-2{
        border: 1px solid blueviolet;
        border-radius: 5px;
        color: white;
        width:90px ;
        height:50px ;
        transition: 0.3; 
        background-color: blueviolet;
        padding: 5px;
         margin-left: 15px;
         cursor: pointer;
    
    }
    .btn-2:hover{
        background-color: rgb(62, 17, 105);
        width: 100px;
    }


